.form {
    margin: 10px 0;
}
.input {
    padding: 5px 10px;
    box-sizing: border-box;
    border: #ba1bba 2px solid;
}
.input:focus {
    border: black 2px solid;
}
.btn {
    font-weight: bold;
    background-color: white;
    color: #ba1bba;
    padding: 5px 10px;
    box-sizing: border-box;
    border: #ba1bba 2px solid;
}
.btn:hover {
    background-color: #97f31c;
    color: black;
    border: black 2px solid;
}